<section class="hero" aria-labelledby="hero-title">
  <img class="hero__leaves hero__leaves--left" src="assets/images/login-leaves.png" alt="" aria-hidden="true" />
  <img class="hero__leaves hero__leaves--right" src="assets/images/login-leaves.png" alt="" aria-hidden="true" />

  <div class="hero__copy">
    <h1 id="hero-title">{{ 'CUSTOMER.HERO_TITLE' | translate }}</h1>
    <p>{{ 'CUSTOMER.HERO_SUBTITLE' | translate }}</p>
    

    <div class="hero__actions" [attr.aria-label]="'CUSTOMER.HOME_SHORTCUTS' | translate">
      <a class="hero__button hero__button--primary" href="#categorias" (click)="selectSection('categorias', $event)">{{ 'MENU.CATEGORIES' | translate }}</a>
      <a class="hero__button hero__button--dark" href="#menu" (click)="selectSection('menu', $event)">{{ 'CUSTOMER.MENU' | translate }}</a>
    </div>
  </div>

  <div class="hero__image" aria-hidden="true">
    <img src="assets/images/menu-cardapio.png" alt="" />
  </div>
</section>
